* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 600px;
  margin: auto;
  border: 1px solid #9f9f9f;
  padding: 20px;
  line-height: 2;

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  article {

    &:first-of-type {
      border: 1px solid #9f9f9f;
      
      h2, form {
        text-align: center;
      }
    }

    #roundsCount {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    #scores-table {
      display: flex;
      justify-content: center;
      gap: 5px;
      font-size: 40px;
    }

    #roundWinner {
      text-align: center;
      border-bottom: 1px solid #9f9f9f;
    }

    &:last-of-type a {
      text-decoration: none;
      color:rgb(28, 76, 78);
      border: 1px solid rgb(28, 76, 78);
      padding: 10px;
    }
  }

  #playerGameChoices {
    text-align: center;
    margin-top: 20px;

    h3 { margin-bottom: 10px;}

    a {
      font-size: 40px;

      &:nth-child(2), &:nth-child(3) {
        margin-right: 30px;
      }
    }
  }
}